<div class="posts">
    {% for post in paginator.posts | sort: "title" %}
    <div class="post-teaser">
        {% if post.header_feature_image %}
        {% assign image_url = post.header_feature_image | replace: "_uploads", "uploads" -%}
        <div class="post-img">
            <a aria-label="{{ post.title }}" href="{{ post.url | relative_url }}">
              {%- if post.caption -%}
                <img alt="{{ post.caption }}" src="{{ image_url }}">
              {%- else -%}
                <img alt="{{ post.title }}" src="{{ image_url }}">
              {%- endif -%}

            </a>
        </div>
        {% endif %}
        <span>
          <header>
            <h1>
              <a aria-label="{{ post.title }}" class="post-link" href="{{ post.url | relative_url }}">
                {{ post.title }}
              </a>
            </h1>
            {% include post_info.html post=post %}
          </header>
          <div class="excerpt">
              {{ post.excerpt | strip_html | escape }}
          </div>
      </span>
    </div>
    {% endfor %}
</div>

{% include blog_nav.html %}
