{%- if site.rss -%}
<li>
	<a href="{{ "feed.xml" | absolute_url }}" title="{{ site.str_rss_follow }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-rss fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.email_address -%}
<li>
	<a href="mailto:{{ site.email_address }}" title="{{ site.str_email }}">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.behance -%}
<li>
	<a href="https://www.behance.net/{{ site.behance }}" title="{{ site.str_follow_on }} Behance">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-behance fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.bitbucket -%}
<li>
	<a href="https://bitbucket.org/{{ site.bitbucket }}" title="{{ site.str_follow_on }} Bitbucket">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-bitbucket fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.facebook -%}
<li>
	<a href="https://www.facebook.com/{{ site.facebook }}" title="{{ site.str_follow_on }} Facebook">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.flickr -%}
<li>
	<a href="https://www.flickr.com/photos/{{ site.flickr }}" title="{{ site.str_follow_on }} Flickr">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-flickr fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.google_plus -%}
<li>
	<a href="https://plus.google.com/{{ site.google_plus }}" title="{{ site.str_follow_on }} Google+">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.instagram -%}
<li>
	<a href="https://instagram.com/{{ site.instagram }}" title="{{ site.str_follow_on }} Instagram">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.linkedin -%}
<li>
	<a href="{{ site.linkedin }}" title="{{ site.str_follow_on }} LinkedIn">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.pinterest -%}
<li>
	<a href="https://www.pinterest.com/{{ site.pinterest }}" title="{{ site.str_follow_on }} Pinterest">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-pinterest fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.reddit -%}
<li>
	<a href="https://www.reddit.com/user/{{ site.reddit }}" title="{{ site.str_follow_on }} Reddit">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-reddit fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.soundcloud -%}
<li>
	<a href="https://soundcloud.com/{{ site.soundcloud }}" title="{{ site.str_follow_on }} SoundCloud">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-soundcloud fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.tumblr -%}
<li>
	<a href="https://{{ site.tumblr }}.tumblr.com/" title="{{ site.str_follow_on }} Tumblr">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-tumblr fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.twitter -%}
<li>
	<a href="https://twitter.com/{{ site.twitter }}" title="{{ site.str_follow_on }} Twitter" class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.vimeo -%}
<li>
	<a href="https://vimeo.com/{{ site.vimeo }}" title="{{ site.str_follow_on }} Vimeo" class="type">
        <span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-vimeo fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.wordpress -%}
<li>
	<a href="https://{{ site.wordpress }}.wordpress.com/" title="{{ site.str_follow_on }} WordPress">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-wordpress fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}

{%- if site.youtube -%}
<li>
	<a href="https://www.youtube.com/user/{{ site.youtube }}" title="{{ site.str_follow_on }} YouTube">
		<span class="fa-stack fa-lg">
            <i class="fa fa-circle fa-stack-2x"></i>
            <i class="fa fa-youtube fa-stack-1x fa-inverse"></i>
        </span>
	</a>
</li>
{%- endif -%}
