<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <!--basic stylesheet-->
    <link rel="stylesheet" href="{{site.baseurl}}/assets/css/recipes.css">
    <!--Favicon-->
    <link rel="shortcut icon" href="{{ site.favicon | relative_url }}" type="image/x-icon">

    <!-- Canonical -->
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | absolute_url }}">

    {%- if page.title != site.hide_title -%}
      <title>{{site.title}} | {{ page.title }}</title>
    {%- else -%}
      <title>{{site.title}}</title>
    {%- endif -%}
    <!-- style the featured page image -->
    {% if page.header_feature_image %}{% assign image_url = page.header_feature_image %}
    <style>
      #main {
        background-repeat:no-repeat;
        background-color: rgb(61, 172, 147);
        background-position: center;
        background-image: url('{{ image_url | relative_url }}');
        text-shadow: 0px 0px 10px rgba(0,0,0,0.9) !important;
      }
      article header {
          text-align: center;
      }
    </style>
    {% endif %}
</head>
