<!--Add a font from Googlefonts-->
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,900&display=swap" rel="stylesheet">
<!--basic stylesheet-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/basic.css">
<!--icon font-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/fontawsome.css">
<!--get the images to enlarge-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/jquery.fancybox.css">
{%- if site.gridlayout -%}
<!--grid stylesheet-->
<link rel="stylesheet" href="{{site.baseurl}}/assets/css/gridlayout.css">
{%- endif -%}
