/*! CSS adapted from  type theme */
html {
    font-family: sans-serif;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: #fff;
}

.post-content h1, .excerpt h1 {
  display:none;
}

img {
  float:right;
  max-width: 50%;
}

h1.title {
  font-size:2em;
  color:red;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
main, menu, nav, section, summary {
    display: block;
}

body {
    font-family: "Source Sans Pro", "Trebuchet MS", Helvetica, Arial, sans-serif;
    margin: 30px;
    font-size: 1.25em;
}

h1.site-title {
font-size: 2.5em;
}

img.cover {
float:right;
width:30%;
margin:12px;
}


blockquote {

}


table {

}

td, th {

}


p, ol, ul {
    line-height: 1.5;
    margin-bottom: 1em;
}


hr {
    border: 0;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    border-bottom: 1px solid #fff;
    margin: 1em 0;
}

a {
    color: #337ab7;
    text-decoration: none
}

/* for a menu for all recipes */
ul.recipes {
  border: 1px solid gray;
  width: 15%;
  float:right;
  font-size: 60%;
  position: absolute;
  top:40px;
  right:20px;
}
